.container {
  display: grid;
  grid-template-rows: 20vh 10vh 24vh 24vh 28vh 2vh;
  grid-template-columns: repeat(14, 1fr);
  gap: 5px;
}

/* welcome */
.welcome {
  /* background-color: grey; */
  grid-column: 2 / 5;
  grid-row: 2 / 3;
}

.welcomeHeader {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  /* background-color: aquamarine; */
}

.welcomeHeader h1 {
  font-weight: bolder;
  font-size: 20px;
}

.welcome p {
  margin-left: 10px;
}

/* welcome */

/* Sales Overview */
.salesOverview {
  grid-column: 2 / 10;
  grid-row: 3 / 5;

  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(5, minmax(10px, min-content));
}

.salesHeading {
  grid-column: 1 /6;
  grid-row: 1 / 2;
}

.salesHeading h1 {
  font-weight: bolder;
  font-size: 25px;
}

.salesHeading p {
  font-size: 12px;
  margin-top: 5px;
  color: #606060;
}

.salesButton {
  grid-column: 11 / 15;
  grid-row: 1 / 2;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  border: 2px solid #cbcbcb;
  border-radius: 15px;
  color: #cbcbcb;
}

.salesDate {
  grid-column: 11 / 15;
  grid-row: 2 / 3;

  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  margin-top: 35px;
}

.salesDate p {
  font-size: 12px;
}

.salesDate > * {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 5px;
}

.salesDate > *:hover {
  font-weight: bolder;
  background-color: lightgray;
}

.salesLine {
  grid-column: 1 / -1;
  grid-row: 3 / 4;

  height: 1px;
  border: 1px solid darkgray;
  margin: 15px 0;
}

.salesChartCover {
  grid-column: 1 / 8;
  grid-row: 4 / 8;

  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: #fff;
}
.salesIconLeft {
  grid-column: 1 /2;
  grid-row: 3 / 4;

  display: flex;
  align-items: center;
}

.salesIconRight {
  grid-column: 14 /15;
  grid-row: 3 / 4;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.salesChart {
  grid-column: 2 / 14;
  grid-row: 6 / 7;

  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

.salesChart ul {
  border-top: 2px solid #e4e4e4;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  width: 100%;
}

.salesChart li {
  margin: 0 2px;
}

.salesBalance {
  grid-column: 9 / 12;
  grid-row: 4 / 7;

  color: #000;
  border-radius: 15px;
}

.salesBalance h1 {
  color: #4545fe;
}

.salesBalanceText {
  color: #12d8a0;
}

.salesBalanceText span {
  color: #000;
}

.salesDeposit {
  grid-column: 12 / 15;
  grid-row: 4 /7;

  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.salesDeposit h1,
.salesDepositText {
  color: #12d8a0;
}

.salesDepositText span {
  color: #000;
}

.sales {
  margin: 5px;
  padding: 5px;
  color: #fff;
  border: 2px solid #e4e4e4;
}

.sales h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 3;
}

.salesDepositText,
.salesBalanceText,
.salesPurchaseText,
.salesWithdrawalText {
  display: flex;
  align-items: center;
}

.salesIcon {
  margin: 0 5px;
}

.salesPurchase {
  grid-column: 9 / 12;
  grid-row: 7 / 8;

  border-radius: 15px;
}

.salesPurchase h1 {
  color: #191919;
}

.salesPurchase h1 span {
  color: #cbcbcb;
}

.salesPurchaseText {
  color: #12d8a0;
}

.salesPurchaseText span {
  color: #000;
}

.salesWithdrawal {
  grid-column: 12 / 15;
  grid-row: 7 / 8;

  border-radius: 15px;
}

.salesWithdrawal h1 {
  color: #ff6a6a;
}

.salesWithdrawalText {
  color: #ff6a6a;
}

.salesWithdrawalText span {
  color: #000;
}

/* Sales Overview */

/* Property Overview */
.propertyOverview {
  grid-column: 10/ 14;
  grid-row: 3 / 4;

  border-radius: 15px;
  padding: 15px;
}

.propertyHeading,
.propertyCta,
.propertyMetrics {
  display: flex;
  align-items: center;
}

.propertyHeading h2 {
  margin: 0 5px;
}

.propertyCta {
  display: flex;
  color: #000;
  justify-content: flex-end;
}

.propertyMetrics {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.propertyMetrics > * {
  padding: 10px;
  width: 100px;
  border-radius: 15px;
}

.propertyDetails {
  border: 1px solid #e4e4e4;
}

.propertyDetails h1 {
  font-weight: 600;
  font-size: 20px;

  text-align: center;
}
/* Property Overview */

/* Customers overview */
.customersOverview {
  border-radius: 15px;
  padding: 15px;

  grid-column: 10/ 14;
  grid-row: 4 / 5;
}

.customersHeading,
.customersCta,
.customersMetrics {
  display: flex;
  align-items: center;
}

.customersHeading h2 {
  margin: 0 5px;
}

.customersCta {
  display: flex;
  justify-content: flex-end;
}

.customersMetrics {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.customersMetrics > * {
  padding: 5px;
  width: 85px;
  border-radius: 15px;
  margin-right: 5px;
}
.customersDetails {
  border: 1px solid #e4e4e4;
}
.customersDetails h1 {
  font-weight: 600;
  font-size: 20px;

  text-align: center;
}

/* Customers overview */

/* listing overview */
.listingOverview {
  background-color: #fff;
  grid-column: 2 / 7;
  grid-row: 5 / -1;
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
}

.listingOverview h2 {
  font-weight: 600;
  font-size: 15px;
}

.listingOverview p {
  font-size: 10px;
}

.listingView {
  grid-column: 1 / 2;
}

.listingView .listingImgCover {
  border: 2px solid #12d8a0;
}

.listingShared {
  grid-column: 2 / 3;
}

.listingShared .listingImgCover {
  border: 2px solid #4545fe;
}

.listingWatchlist .listingImgCover {
  border: 2px solid #ff9103;
}
.listingWatchlist {
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #f5f5f5;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  padding: 5px 0 5px 10px;
}

.listingImg {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  padding: 10px;
}

.listingImgCover {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 15px;
  margin-right: 10px;
}

.listingImg h1 {
  font-weight: 600;
  font-size: 15px;
}

.listingNum {
  background-color: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 15px;
  position: relative;
  padding: 10px;
  width: 200px;
  height: 70px;
}
.listingNum h1 {
  font-weight: 600;
  font-size: 20px;
}
.listingIcon {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* listing overview */

/* outstanding */
.totaloutstanding {
  grid-column: 7 / 11;
  grid-row: 5 / 6;
  position: relative;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
}

.outstandingCta {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.outstandingImg {
  width: 100px;
}

.outstandingImgCover {
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outstandingBalance {
  grid-column: 1 / 2;
  margin-left: 10px;
}

.outstandingBalance h2 {
  color: #191919;
  font-weight: 600;
  font-size: 18px;
}

.outstandingBalance h2 span {
  color: #cbcbcb;
  font-weight: 600;
  font-size: 18px;
}

.outstandingBalance span {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 11px;
}

.outstandingText {
  grid-column: 2 /3;

  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  margin-left: 10px;
  padding-top: 30px;
}

.outstandingText h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

.outstandingTextBal {
  display: flex;
  flex-direction: column;
}

.outstandingTextBal p:not(:last-child) {
  color: #ff6a6a;
}

.outstandingPagination {
  grid-column: 2 / 3;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
}

.outstandingPagination span {
  font-size: 15px;
  margin-right: 5px;
}

/* outstanding */

.topSelling {
  grid-column: 11 / 14;
  grid-row: 5 / 6;

  padding: 10px;
}

.topSellingHeader h2 {
  font-weight: 600;
  color: #12d8a0;
}

.topSellingBody {
  display: flex;
}

.topSellingImgCover {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 15px;
}

.topSellingText {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.topSellingText h1 {
  font-weight: 600;
  font-size: 20px;
}

.topSellingText p {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-top: 15px;
}
